body {
    font-family: Arial, sans-serif;
    text-align: center;
    img {
        border: 2px solid black;
        border-radius: 10px;
    }

    ol {
        text-align: left;
        margin: 20px auto;
        width: 50%;
    }
    
}